/* Table of Content */

/* 000000-2b2b2b-007bff-75c6fc-ffffff */

/* 
1. Section Settings
2. Section Carousel
3. Section Blog
4. Section Footer
5. Section Navbar
*/

/* Section Settings */
html, body {
    height: 100%;
}

.bg-alpha {
    background: rgba(0, 0, 0, 0.5);
}

.border-short-bottom {
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}

.border-short-bottom::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    background: #595959;
}

/* Section Carousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active {
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    top: 40%;
}

.backscreen {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

/* Section Blog */
.warpper-card-image {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.warpper-card-image img {
    position: absolute;
    top: 0;
    transition: .4s;
}

.warpper-card-image img:hover {
    transform: scale(1.1);
}

/* Section Footer */
.semi-footer {
    background-color: #2b2b2b;
    color: white;
}

.semi-footer a {
    text-decoration: none;
    color: white;
}

.semi-footer h4 {
    color: #65c6fc;
    border-bottom: 1px solid;
    padding: 10px 0;
}

.footer {
    background: #000;
    color: white;
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

/* Section Navbar */
#navbar {
    padding: 25px;
    transition: 0.5s;
}

/* Section Page-Title */
.page-title {
    position: relative;
    display: block;
    padding-top: 250px;
    padding-bottom: 100px;
    color: #fff;
}

/* Section Timeline */
.timeline {
    list-style: none;
    position: relative;
    padding: 20px 0;
}

.timeline > li {
    position: relative;
    margin-bottom: 40px;
}

.timeline::before {
    content: "";
    width: 2px;
    background: #e6e6e6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

li > .timeline-badge {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 3px solid #84ba3f;
    left: 50%;
    margin-left: -9px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 5px #fff;
    top: 15px;
}

li > .timeline-badge::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 20px;
    width: 25px;
    height: 2px;
    background: #e6e6e6;
}

li.inverted > .timeline-badge::before {
    right: -32px;
}

li.inverted > .timeline-badge > p {
    float: right;
    text-align: right;
    margin-right: 25px;
}

li > .timeline-badge > p {
    width: 200px;
    margin-top: -9px;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
}

li > .timeline-card {
    position: relative;
    width: 46%;
    float: left;
    text-align: right;
    padding: 0 30px;
}

li.inverted > .timeline-card {
    float: right;
    text-align: left;
}

.timeline > li::after {
    content: "";
    clear: both;
    display: block;
}

.timeline-arrow {
    width: 100%;
    text-align: center;
    bottom: -70px;
    color: #e6e6e6;
}

@media (max-width: 768px) {
    .timeline::before,
    .timeline-badge {
        left: 40px !important;
    }

    .timeline-badge::before {
        right: -32px !important;
    }
    .timeline-badge p,
    li.inverted > .timeline-badge p{
        margin-left: 50px !important;
        text-align: left;
        float: left;
    }

    li > .timeline-card {
        width: 100%;
        text-align: left;
        padding: 38px 0 0 85px;
    }

    .timeline-arrow {
        text-align: left;
        margin-left: 32px;
    }
} 