/* Table of Content */

/* 000000-2b2b2b-007bff-75c6fc-ffffff */

/* 
1. Section Settings
2. Section Carousel
3. Section Blog
4. Section Footer
5. Section Navbar
*/

/* Section Settings */
html, body {
    height: 100%;
}

.bg-alpha {
    background: rgba(0, 0, 0, 0.5);
}

.border-short-bottom {
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}

.border-short-bottom::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    background: #595959;
}

/* Section Carousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active {
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    top: 40%;
}

.backscreen {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

/* Section Blog */
.warpper-card-image {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.warpper-card-image img {
    position: absolute;
    top: 0;
    transition: .4s;
}

.warpper-card-image img:hover {
    transform: scale(1.1);
}

/* Section Footer */
.semi-footer {
    background-color: #2b2b2b;
    color: white;
}

.semi-footer a {
    text-decoration: none;
    color: white;
}

.semi-footer h4 {
    color: #65c6fc;
    border-bottom: 1px solid;
    padding: 10px 0;
}

.footer {
    background: #000;
    color: white;
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

/* Section Navbar */
#navbar {
    padding: 25px;
    transition: 0.5s;
}